<div class="flex gap-8">
  <app-stackoverflow class="flex-1" title="typescript"></app-stackoverflow>
  <app-stackoverflow class="flex-1" title="angular2"></app-stackoverflow>

  <app-card class="flex-1" subtitle="STACKOVERFLOW & WEATHER" title="mixed">

    <ng-container *ngIf="mixed | async as items; else waiting">
      <ul role="list" class="divide-y divide-gray-200">
        <li *ngFor="let item of items" class="py-4 flex">
          <div class="ml-3">
            <p class="text-sm text-gray-700">{{ getInformation(item) }}</p>
          </div>
        </li>
      </ul>
    </ng-container>

    <!-- TODO: Make a component out of this / reuse in stackoverflow card -->
    <ng-template #waiting>
      <div class="flex flex-col py-6">
        <div class="flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-300 animate-spin h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
          </svg>
        </div>
        <div class="flex justify-center">
          <span class="text-gray-300">Crunching latest data</span>
        </div>
      </div>
    </ng-template>

  </app-card>
</div>
